.ui-menu__options {
    position: absolute;
    bottom: 0;
    left: 50%; // Adjust as needed to center horizontally
    transform: translateX(-50%); // Center horizontally
    display: flex;
    justify-content: space-around; // Adjust alignment as needed
    align-items: center;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .ui-menu__options img {
    position: absolute;
    cursor: pointer;
    max-width: 100%; /* Ensure images resize to fit their containers */
    width: 15rem;
    
  }

  .ui-menu__options-start {
    top: 96%;
    left: 70%;
  }
  
  .ui-menu__options-end {
    top: 96%;
    left: 70%;
  }

  .ui-menu__options-reset {
    top: 111%;
    left: 39%;
  }

  .ui-menu__options-download {
    top: 111%;
    left: 10%;
  }