
.ui-menu__categories {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .ui-menu__categories li {
    position: absolute;
    cursor: pointer;
    list-style-type: none;
    width: 10rem;
    
  }

  .ui-menu__categories li img {
    max-width: 100%; /* Ensure images resize to fit their containers */
  }
  
  .ui-menu__categories-wall {
    top: 16%;
    left: 80%;
    width: 3rem;
  }
  
  .ui-menu__categories-floor {
    top: 26%;
    left: 80%;
  }
  
  .ui-menu__categories-window {
    top: 36%;
    left: 80%;
  }
  
  .ui-menu__categories-bed {
    top: 45.5%;
    left: 80%;
  }
  
  .ui-menu__categories-rug {
    top: 55%;
    left: 80%;
  }
  
  .ui-menu__categories-more {
    top: 64%;
    left: 80%;
  }